/**** commons ****/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**** body ****/
body{
    padding: 15px;
    margin-left: 60px;
    margin-right: 60px;
}
/**** header ****/
header{
    height: 90px;
    margin-bottom: 20px;
}
/**** jumbotron ****/
.jumbotron{
    width: 100%;
}



/**** debug ****/
.debug header{
    background-color: violet ;
}

.debug .jumbotron{
    background-color: rgb(126, 158, 79);
    height: 500px;

}
